@font-face {
  font-family: "Sonsie One";
  font-style: normal;
  font-weight: 400;
  src: local("Sonsie One"), local("SonsieOne-Regular"), url("../fonts/EL7Rcl854lo1-oEwLR8r0r3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}

*, *:before, *:after {box-sizing:  border-box !important;}

body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background:url(../images/bgnoise_lg.png);
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}

#main {
  margin-left: 20px;
  margin-right: 5px;
  min-width: 1400px;
}
#mapPlaceholder {
  height: 400px;
  width: 900px;
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
}
#mapPlaceholder img {
  margin-left: 250px;
    margin-top: 100px;
  position: relative;
}
#local-spot-list {
  margin-left: 20px;
  height: 400px;
  width: 95%;
  overflow-y: scroll !important;
  border-style: solid;
  border-color: #A6A6A6;
  border-width: 1px;
  padding: 2px 2px 2px 2px;
  box-shadow: 10px 10px 5px #888888;
  background-color: #fff;
}

#local-spot-list .media .thumb-pic{

}

#local-spot-list .media .media-body h4{
  margin-bottom: 5px;
}
#local-spot-list .media .media-body .post-date{
  font-size: 10px;
  text-decoration: lowercase;
  line-height: .75;
}
#local-spot-list .media .media-body .media-heading{

}


#thumbs.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;
 margin-top: 20px;
}

#thumbs .item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

#thumbs .well {
 position:relative;
 display: block;
}
